/* Sfondo e logo */
.sfondologo{
    background-image: url("../img/pattern.png");
    background-color: cadetblue;
}

.sfondologo img{
    width: 20%;
}

/* Stile tabella */
table{
    border-collapse: collapse;
}

thead{
    background-color: #20aae5;
    color: white;
}

.blue-row{
    background-color: #b1e5f2;
}